 /* Page-1 Nav Bar CSS  */

  /* Nav bar items HOME,PLANS,..... */
  #navlink:hover {
    background-color: #aab33c;
    font-weight: 700;
  }
.deal{
  background-color: #aab33c;
  font-weight: 700;
}
  .banner-image{
    background-image: url(/Assets/Images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
  }